{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

  <div class="jumbotron p-5 text-white rounded bg-info" style="height:560px ">
    <div class="col-md-6 px-0" style="margin:95px">
      <h1 class="display-4 " style="font-size:90px">About Us!</h1>
      <p class="lead my-3" style="">CarZest was established in 2012 and digitally expanded in 2018. After more than 10 years in business, CarZest is ready to meet your expectations with our fully renewed fleet of vehicles.</p>
      {% comment %} <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> {% endcomment %}
      <a class="btn btn-dark btn-lg" href="#123" role="button">Learn more</a>
    </div>
  </div>
  <div class="p-3 mb-2  text-info" id="123">
    <div class="row m-5" >
        <div class="container fluid px-0"><h1 class="my-3 text-center">Why Choose Us?</h1></div>
        <div class="col-xl-4">
          <div class="container fluid px-0" >
            {%load static%}
            <img src = "{%static "trust.jpg"%}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2 " style=" text-align:center">Safe</h2>
          <p style="font-size:20px; text-align:center">Most trustworthy website for renting a vehicle in World. All the vehicles are well maintained and in good condition. Servicing is done after every two weeks.</p>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="container" >
            {%load static%}
            <img src = "{%static "affordable.jpg"%}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2 " style=" text-align:center">Affordable Prices</h2>
          <p style="font-size:20px ; text-align:center">All the rent are in affordable prices. If there is a problem in the vehicle, there is a return back policy. Payment can be made online safely </p>
         
        </div><!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="container-center" >
            {%load static%}
            <img src = "{%static "car-wash.png"%}" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2" style=" text-align:center">Hygienic</h2>
          <p style="font-size:20px ; text-align:center">Your comfort is our priority! All the vehicles are well-maintained and hygienic. </p>
        </div><!-- /.col-lg-4 -->
    </div>
    </div> 
{% endblock body %}