{% extends 'base.html' %}
{%load static%}
<link rel="stylesheet" href="{%static 'style.css'%}">
{% block title %}Contact{% endblock title %}

{% block body %}


    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        
                        <h2 class="mt-1 mb-5 pb-1">Contact Us</h2>
                
                      </div>
      
                      <form method="post"  action="/contact">
                        {%csrf_token%}
      
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example11">Name : </label>
                          <input type="text" id="contactname" name="contactname" class="form-control"
                            placeholder="Name" required >

                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example11">Phone Number : </label>
                            <input type="tel" id="contactnumber" name="contactnumber" class="form-control"
                              placeholder="eg: 9015789452" required >
                            
                          </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example11">Email : </label>
                            <input type="email" id="contactemail" name="contactemail" class="form-control"
                              placeholder="something@gmail.com" required >
                               </div>
                          <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example11">Message : </label>
                            <input type="message" id="contactmsg" name="contactmsg" class="form-control "
                              placeholder="Please Write something here" required >
                               </div>
                        
      
                        <div class="text-center pt-1 mb-5 pb-1">

                            <button type="submit" class="btn btn-info btn-block fa-lg  mb-3" >Submit</button>
                        </div>
                      </form>
                        
      
                      
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2 " {%load static%}
                  style="background-image: url({%static "cont.jpg"%});  background-repeat: no-repeat; background-size: cover;">
                    <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
{% endblock body %}